<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Master Suite" >
<listeners>
<listener class-name="utilities.ExtendReportManager"></listener>
</listeners>
  <test  name="ChromeTest">
  <parameter name="os" value="Linux"></parameter>
  <parameter name="browser" value="chrome"></parameter>
    <classes>
     
     <class name="TestCase.TC001_RegistrationPage"></class> 
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
